/* importamos fuente */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Spicy+Rice&display=swap');
/* aspecto general de html */
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
/* fondo del documento html y color de texto*/
body{
    /* fondo */
    background-color: rgb(0, 0, 0);
    background-image: url(../../resources/galaxia.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* overflow-x: hidden; */
}
/* Texto : fuentes y estilos */
h1, div, p{
    /* color texto */
    color: rgb(255, 255, 255);
}
h1{
    /* tamanio y disenio del contenedor */
    width: 100%;
    padding: 25px 0;
    margin: 0 0 10px 0;
    /* tamanio y disenio del texto */
    font-size: 70px;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-decoration: underline ;
}
.container, div + p{
    /* tamanio y disenio de los contenedores */
    width: 90%;
    margin: 0 auto;
    /* feunte y tamanio del texto */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.container{
    /* disenio y tamanio del container */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 15px;
    background: rgba(48, 59, 59, 0.425);
}
.container p{
    /* estilo del texto */
    text-decoration: underline;
}
.container ul{
    /* estilo y espacio entre lineas */
    line-height: 1.5;
    list-style: decimal;
}
.container + p {
    /* posicion del contenedor */
    position: absolute;
    bottom: 5px;
    left: 20px;
    /* tamanio y estilo de texto */
    font-size: 14px;
    text-align: start;
    font-style: italic;
}
p > strong {
    /* tamanio y estilo de texto */
    font-size: 16px;
    font-style: normal;
}