/*---------- SELECTORES EN CSS ----------*/

/* selecctor general 'todo el documento' */
* {
    padding: o;
    margin: 0;
    background: #bbd7d8a9;
}
/*selector de etiqueta*/
div{
    background: #f53838a9;
    margin: 10px;
}
/* selector de  id  */
#selector-id{
    color: blue;
}
/* selector de clase */
.selector-clase{
    font-weight: bold;
}


/*---------- COMBINADORES DE SELECTORES ----------*/

/* A B seleccion B dentro de A */
.combinadores-selectores p{
    color: green;
}
/* A>B seleccion de B hija de A  */
.combinadores-selectores > h3{
    color: red;
}
/* A+B seleccion de B que le sigue a A  */
.combinadores-selectores + p{
    color: blue;
}
/* A~B selecciona todos los B que estan despues de A  */
.combinadores-selectores ~ h3{
    color: gray;
}