/* importamos funte */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* definimos variables para los colores */

:root {
    --neon-azul: #00FFFF;
    --neon-verde: #39FF14;
    --neon-magenta: #FF00FF;
  }

body, html{
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: black;
}
header{
    width: 95%;
    padding: 0 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--neon-azul);
    border-radius: 0 0 .4rem .4rem;
}
article{
    padding: 0 2.5%;
}
article[class='logo']{
    width: 10%;
    display: flex;
    align-items: center;
    margin: .3rem 0;
}
.logo > .img,
.logo > .img > a{
    display: flex;
    justify-content: center;
}

.logo > .img > a >img{
    width: 40%;
    border-radius: 8px;
    transition: transform .5s ease-in-out;
}
.logo > .img > a >img:hover{
    transform: scale(1.05);
}
article[class='nav']{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.nav > nav{
    margin: 10px 0;
}
.nav > nav > ul{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul > li{
    padding: 0 1rem ;
    list-style: none;
}
ul > li > a{
    display: inline-block;
    text-decoration: none;
    color: var(--neon-magenta);
    font-size: 1.2rem;
    transition: transform .5s ease-in-out;
}
ul > li > a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transform: translateY(-3px);
}
article[class='login']{
    width: 10%;
    display: flex;
    align-items: center;
}
.login > .login_img > a,
.login > .login_img > a img{
    display: flex;
    justify-content: flex-end;
}
.login > .login_img > a > img{
    width: 20%;
    margin: 0 .2rem 0 0;
    transition: transform .5s ease-in-out;
}
.login > .login_img > a > img:hover{
    transform: translateX(.2rem);
}