@import "tailwindcss";

@theme {
    --color-azul-claro: #243cff;
    --color-azul-oscuro: #0d1b3e;
    --spacing-pri-tam: 170px;
    --width-sec-tam: 340px;
    --breakpoint-lap: 56rem;
}

@layer components {
    .card {
        /* @apply bg-red-500 w-40 h-40 grid place-content-center rounded-lg text-white font-bold border-2 border-red-600 text-4xl; */
        @apply bg-red-500 grid place-content-center rounded-lg text-white font-bold border-2 border-red-600 text-4xl;
    }
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark (&:where(.dark, .dark *));