.box {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
  }
  
.box2 {
width: 200px;
padding: 20px;
border: 5px solid black;
margin: 10px;
box-sizing: border-box;/*incluye padding y border a width y height*/
}
  