/*--------- Tipogracias y fuentes ---------*/
/* importacion de fuente */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* uso de fuente y ajsutes de tipografia */
.texto{
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    color: #cf5a5a;
}
.texto > strong{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-weight: 400;
    /* text-align: center; solo aplica para contenedores de texto y tenga un gran hancho y alto */
    font-style: normal;
    line-height: 3;
    color: #c73d3d;
}