body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

section {
    width: 30%;
}

section img {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

section img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
