/*--------- DISENIO RESPONSIVO CON MEDIA QUERIES ---------*/
/* uso de flexbox par centrar todo el contenido al centro */
body{
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* color del contenedor cuando la pantalla es mayor a 1k px */
body .media{
    background-color: rgb(173, 145, 108);
    border-radius: 10px;
    height: 100px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
/* MEDIA QUERIE PARA CAMBIAR EL COLOR CUANDO EL TAMANIO DELA PANTALLA SEA MENOR A 1K DE PX */
@media (max-width: 1000px){
    body .media{
        background: #63ceb7;
    }
}


