/*---------- Unidades de medida ----------*/

/* unidad Absoluta */
.px{
    font-size: 25px;
}

/* Unidades Realtivas */
.porcentaje{
    height: 90%;
    font-size: 90%;
}
.em{
    font-size: 1.3em;
}
.rem{
    font-size: 1.2rem;
}
.hv-vw{
    width: 50vw;
    font-size: 5vh;
}