/*------------------ ANIMACIONES Y TRANSICIONES CSS ------------------*/
/* improtamos fuente */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* varaibles */
:root{
    /* colres de contenedores */
    --color-primary: #726d6d80;
    --color-secondary: #03030386;
    /* colores de texto */
    --color-text-primary: #ff0000;
    --color-text-secondary: #00ff00;
    --color-text-tertiary: #0000ff;
    --color-text-default: #ffffff;
    /* fuente de texto */
    --font-primary: "Big Shoulders", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}
/* estiloes generales */
body{
    max-width: 100vw;
}
/* usamos variables */
h1 ~ section{
    /* dimenciones del contenedor */
    width: 100%;
    /* alineacion del contenedor */
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 15px 0px;
    /* estilos de contenedor */
    background-color: var(--color-primary);
}
section > .box{
    /* dimenciones del contenedor */
    width: 20%;
    height: 100%;
    /* alineacion del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20% 10px;/*nota recordar que el padd bottom hace que la caja se expanda y ocupe todo el espaico del contendor lo que desborda el contenido*/
    /* estilos de contenedor */
    background-color: var(--color-secondary);
    border-radius: 10px;
}
section > div > p{

    /* estilo de texto */
    text-align: justify;
    font-size: 20px;
    color: var(--color-text-default);
    /* fuente de texto */
    font-family: var(--font-primary);
}
/* trancisiones */
section[class*="transi"] > .transition1, .transition2, .transition3{
    /* animaicon */
    transition-property: background-color, color, padding-bottom ;/* define que propiedades se aplicar al atrancision*/
    transition-duration: .5s;/*define el tiempo de diracion de la trancision*/
    transition-timing-function: ease-in-out;/*define la curava de velocidad de la transiicon*/
    transition-delay: .3s;/*define el retraso de la trancision*/
}
section[class*="transi"] > .transition1:hover{
    /* estilos de trancision del contenido */
    background-color: #ff0000;
    padding-bottom: 0;
}
.transition1 > p:hover{
    color: #000000;
}
section[class*="transi"] > .transition2:hover{
    background-color: #4a534a69;
    & p{
        color: #ac2020;
    }
}
section[class*="transi"] > .transition3:hover{
    background-color: #000000;
    padding-bottom: 5%;
    & p{
        color: rgb(38, 143, 235);
    }
}
/* animacione 1 */
section[class*="anima"]> .animation1{
    animation-name: rotacion;/*nombre de la animacion*/
    animation-duration: 5s;/*tiempo de duracion de la animacion*/
    animation-timing-function: ease-in-out;/*velocidad de la animacion*/
    animation-delay: .3s;/*retraso de la animacion*/
    animation-iteration-count: infinite;/*repeticion de la animacion*/
    animation-direction: reverse;/*direccion de la animacion*/
}
@keyframes rotacion{/*from = 0% to 100%*/
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}
/* animacion 2 */
section[class*="anima"]> .animation2{
    animation-name: crecimiento;/*nombre de la animacion*/
    animation-duration: 8s;/*tiempo de duracion de la animacion*/
    animation-timing-function: ease-in-out;/*velocidad de la animacion*/
    animation-delay: .3s;/*retraso de la animacion*/
    animation-iteration-count: infinite;/*repeticion de la animacion*/
    animation-direction: reverse;/*direccion de la animacion*/
}
@keyframes crecimiento{
    from{
        padding-bottom: 20%;
    }
    25%{
        padding-bottom: 5%;
    }
    50%{
        padding-bottom: 20%;
    }
    75%{
        padding-bottom: 5%;
    }
    to{
        padding-bottom: 20%;
    }
}
/* animacion 3 */
section[class*="anima"]> .animation3{
    animation-name: opacidad;/*nombre de la animacion*/
    animation-duration: 10s;/*tiempo de duracion de la animacion*/
    animation-timing-function: ease-in-out;/*velocidad de la animacion*/
    animation-delay: .3s;/*retraso de la animacion*/
    animation-iteration-count: infinite;/*repeticion de la animacion*/
    animation-direction: reverse;/*direccion de la animacion*/
}
@keyframes opacidad{
    from{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}