/* importamos fuente */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* variables */
:root{
        /* color de contenedor */
        --color-primary: #8b848480;
        --color-secondary: #383636;
        /* color de texto */
        --color-text-primary: #ff0000;
        --color-text-secondary: #f7f7f7;
        --color-text-tertiary: #0000ff;
        /* fuente de texto */
        --font-primary: "Big Shoulders", sans-serif;
        --font-secondary: "Roboto", sans-serif;
}
/* estilos generales */
html, body{
    max-width: 100vw;
}
section{
    /* dimenciones del contenedor */
    width: 100%;
    /* alineacion del contenedor */
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 15px 0px;
    /* estilos de contenedor */
    background-color: var(--color-primary);
}
.box{
    /* dimenciones del contenedor */
    width: 35%;
    /* alineacion del contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5% 20px;
    /* estilos de contenedor */
    background-color: var(--color-secondary);
    border-radius: 10px;
}
.box > h3{
    /* estilo de texto */
    text-align: center;
    font-size: 30px;
    color: var(--color-text-secondary);
    text-transform: uppercase;
    /* fuente de texto */
    font-family: var(--font-primary);
}
/* dimenciones de img y video */
.box > img, video{
    width: 100%;
    height: 100%;
    object-fit: cover;/*hace que el contenido se dimencione a su contenedor*/
}
/* clip-path */
.box > img{
    background-color: white;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); *//*recorte poligonal*/
    clip-path: circle(30% at 50% 50%);/*recorte en circulo*/
    /* clip-path: ellipse(50% 35% at 50% 50%);recorte en elipse */
    /* clip-path: inset(25% 2%);recorte en cuadrado */
    /* clip-path: url(#miClipPath); *//*recorte en url */
    transition: clip-path 2s ease-in-out;/*transition: propiedad duración tipo-de-curva retraso;*/
}
.box > img:hover {
    clip-path: circle(50% at 50% 50%);
    transition: clip-path 2s ease-in-out;
}

/* mask */
.box > video{
    mask-image: linear-gradient(to top, black, transparent);/*defeine el gradieten o iamgen que se utilizara como mascaea*/
    mask-mode: alpha;/*como se qaplica la mascara*/
    mask-repeat: no-repeat;/*como se repite la mascara*/
    mask-position: center;/*posicion de la mascara*/
    mask-size: contain;/*tamanio de la mascara*/
    mask-origin: calc(100% - 10px);/*origen de la mascara*/
    mask-clip: border-box;/*como se recorta la mascara*/
    mask-composite: xor;/*como se combina la mascara*/

}