/*---------- DIAPLAY ----------*/
/* propiedades generales para el html y body */
html, body{
    margin: 0;
    padding: 0;
}
/* disenio de contenedores */
.box{
    border: 1px solid #000000;
    margin-left: 10px;
    margin-bottom: 20px
}
/* block */
.block {
    display: block;
    background: lightblue;
    width: 200px;
    padding: 10px;
}
/* inline */
.inline {
    display: inline;
    background: lightgreen;
    padding: 10px;
}
/* inline-block */
.inline-block {
    display: inline-block;
    background: lightcoral;
    width: 150px;
    height: 50px;
    padding: 10px;
}
/* none */
.none{
    display: none;
}