/*--------- FLOATS Y CLEARFIX ---------*/
/* disenio grid para el contedor */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 5px;
}
.div{
    background-color: rgb(137, 142, 146);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}
/* float */
.contenedor {
    border: 2px solid blue;
    /* No se define la altura aquí */
}
.box {
    width: 30%;
    float: left;
    background: salmon;
    padding: 10px;
    margin: 5px;
}
.otro-contenido {
    background: lightgreen;
    padding: 10px;
    margin-top: 20px;
}
/* clearflex */
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }