/*--------- CSS GRID LAYOUT ---------*/
.grid-container {
    /* volvemos al contenedor en grid "cuadricula" */
    display: grid;
    /* disponemos numero de filas y columnas  */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* espacio entre filas y columnas */
    grid-gap: 20px;
    /* color y demas estilos*/
    background: rgb(61, 59, 59);
    padding: 10px;
  }
  
.grid-item {
    background: teal;
    color: white;
    padding: 20px;
    text-align: center;
}
.grid-container > .uno {
    grid-row: 3/ 4;
    grid-column: 2/3;
}
.grid-container > .dos{
    grid-row:1/2;
    grid-column: 2/3;
}
.grid-container > .tres{
    grid-row: 2/4;
    grid-column: 1/2;
}

  